<style>
.legend li {
  margin: 25px 50px 0 0;
}

.legend table {
  width: 1000px;
  margin: 0;
  font-size: 80%;
}

.legend td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

</style>
<div class='legend'>
<table>
  <tr>
    <td>
      <h3>Radar</h3>
      <span>A handy tool to help manage development platform and technology strategy. Radar combines the technologies used into four categories: techniques, languages and frameworks, tools and platforms. Each of these areas is ranked according to the stage of implementation:</span>
      <ul>
        <li><strong>ADOPT</strong> &mdash; technologies that we are confident in and recommended for widespread use in QIWI, correspond to the culture and goals of the company.</li>
        <li><strong>TRIAL</strong> &mdash; is a new stack used only in selected projects to assess risks before mass implementation.</li>
        <li><strong>ASSESS</strong> &mdash; Earley Previews, all sorts of experimental things that have potential value.</li>
        <li><strong>HOLD</strong> &mdash; is a deprecated legacy. Obsolete technologies that are not recommended for use for new projects, but it is permissible to keep them in old ones.</li>
      </ul>
    </td>
    <td>
        <h3>Goals</h3>
        <ul>
            <li>Radar preparation is an analysis of what is happening - a way to look in which direction the industry is moving, and how general trends relate to our zoo.</li>
            <li>Make the right architectural decisions. Teams have a source of information about which solutions are recommended for which purposes.</li>
        </ul>
        <br/>
        <br/>
        <h3>Maintenance</h3>
        <span>The technical radar is maintained by the engineering community. It reflects our aspirations, successes and mistakes.</span>
    </td>
  </tr>
</table>
<legend>
